.homepage-tags {
  max-width: 1200px;
  padding-bottom: 20px;
  margin: 0 auto;
  color: #f18121;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  position: relative;
  width: 100%;
  margin-top: 10px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  h1 {
    .text-list-update {
      color: #56ccf2 !important;
      font-size: 20px !important;
      font-weight: 600;

      a {
        color: #56ccf2 !important;
        font-size: 20px !important;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
        text-decoration: none !important;
      }
    }
  }

  .sort {
    a {
      cursor: pointer;
      text-decoration: none;
      color: #3f94d5;
      font-size: 15px;
      text-transform: capitalize;

      button {
        color: #f18121;
        border: 1px solid;
        height: 35px;
        border-radius: 35px;
        width: 35px;
        font-size: 12px;
        margin-left: 10px;
        background-color: transparent;
        text-align: center;
        position: relative;

        .icon {
          font-size: 1rem;
        }
      }
    }
  }
}

.homepage-more {
  padding-top: 10px;
  text-align: center !important;
  margin-bottom: 2rem;
  .view-more-btn {
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 25%);
    background-color: #f18121;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 12px 20px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
  }
}
